<% if @errors %>
  <div class="wrong">
    <p>There was a problem with the post:</p>
    <% @errors.each do |error| %>
      <%= error %>
    <%end%>
  </div>
<% end %>

<form action="/questions/<%=@question.id%>" method='post' id="edit_question">
  <input type="hidden" name="_method" value="put">
	<h2>Got something to add(or remove)?</h2>
  Title: <input type='text' name='q[title]' value="<%=@question.title%>">
  <input type='submit'>
</form>
<textarea name="q[body]" form="edit_question"><%=@question.body%></textarea>