<a href="/users/new">Register</a>
  <a class="login-link" href="/login">Login</a>
   <div class="hidden">
     <form id="login" action="/login" method='post' display>
      <input type='text' placeholder="Username" name='username'>
      <input type='password' placeholder="Password" name='password'>
      <input type='submit'>
  </form>