<% if @errors %>
  <div class="wrong">
    <p>We couldn't find the droid you were looking for:</p>
    <% @errors.each do |error| %>
      <%= error %>
    <%end%>
  </div>
<% end %>

<form action="/login" method='post'>
	<h2>Login!</h2>
  Username: <input type='text' name='username'>
  Password: <input type='password' name='password'>
  <input type='submit'>
</form>